<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd" version="5.0">
  <servlet>
    <description></description>
    <display-name>GameServlet</display-name>
    <servlet-name>GameServlet</servlet-name>
    <servlet-class>GameServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GameServlet</servlet-name>
    <url-pattern>/GameServlet</url-pattern>
  </servlet-mapping>
  <display-name>Game</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SignupServlet</display-name>
    <servlet-name>SignupServlet</servlet-name>
    <servlet-class>SignupServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SignupServlet</servlet-name>
    <url-pattern>/SignupServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DatabaseServlet</display-name>
    <servlet-name>DatabaseServlet</servlet-name>
    <servlet-class>DatabaseServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DatabaseServlet</servlet-name>
    <url-pattern>/DatabaseServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StoreScoreServlet</display-name>
    <servlet-name>StoreScoreServlet</servlet-name>
    <servlet-class>StoreScoreServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StoreScoreServlet</servlet-name>
    <url-pattern>/StoreScoreServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SaveUserDataServlet</display-name>
    <servlet-name>SaveUserDataServlet</servlet-name>
    <servlet-class>SaveUserDataServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SaveUserDataServlet</servlet-name>
    <url-pattern>/SaveUserDataServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserDataServlet</display-name>
    <servlet-name>UserDataServlet</servlet-name>
    <servlet-class>UserDataServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserDataServlet</servlet-name>
    <url-pattern>/UserDataServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserDatabaseServlet</display-name>
    <servlet-name>UserDatabaseServlet</servlet-name>
    <servlet-class>UserDatabaseServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserDatabaseServlet</servlet-name>
    <url-pattern>/UserDatabaseServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SubmitScoreServlet</display-name>
    <servlet-name>SubmitScoreServlet</servlet-name>
    <servlet-class>SubmitScoreServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SubmitScoreServlet</servlet-name>
    <url-pattern>/SubmitScoreServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ScorecardServlet</display-name>
    <servlet-name>ScorecardServlet</servlet-name>
    <servlet-class>ScorecardServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ScorecardServlet</servlet-name>
    <url-pattern>/ScorecardServlet</url-pattern>
  </servlet-mapping>
</web-app>